<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index page</title>
  <link rel="stylesheet" th:href="@{/index.css}" />
</head>

<body>
  <header>
    <div class="nav">
      <a th:href="@{/loginPage}">
        Login
      </a>
      <a th:href="@{/adminPage}">
        Admin
      </a>
      <a th:href="@{/productsPage}">
        Products
      </a>
      <a th:href="@{/}">
        Contact Us
      </a>
      <a th:href="@{/}">
        About Us
      </a>
    </div>
  </header>

  <h1>Products Page</h1>
</body>

</html>